*{
    padding: 0;
    margin: 0;

}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: none;
}
li,ul,ol{
    list-style: none;
}
.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    height: 0;
    content: "";
    visibility: hidden;
    clear: both;
}