html,body{
    height: 100%;
}
.main{
   padding: 50px 0;
}
.page-header{
    width: 800px;
    margin: 0 auto 15px;

}
.form-group .form-control{
    line-height: 45px;
    height: 45px;
    vertical-align: bottom;
}
.form-group{
    height:45px ;
    line-height: 45px;
}
.form-control-feedback{
    height: 45px;
    line-height: 45px;
}
.form-group>p{
    color: red;
}
.form-group #emailCodeBtn{
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    width: 180px;
}
.form-group:last-of-type button{
    height: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    width: 85px;
}