nav{
    background: #c2a638;
    height: 28px;
    line-height: 28px;
    width: 100%;
}
nav li{
    float: left;
    height: 28px;
    line-height: 28px;
    width: 15%;
    text-align: center;
    color: white;
}
nav li.current{
    background: #af555a;
}
.main>ul>li{
    width: 960px;
    margin: 20px auto 0;
    height: 340px;
}
.main .left{
    float: left;
    width: 280px;
    height: 340px;
}
.main .right{
    float: left;
    height: 340px;
    width: 680px;
    overflow: hidden;
    position: relative;
}
.main .right ul{
    width: 1530px;
}
.main .right li{
    float: left;
    width: 170px;
    height: 170px;
    position: relative;
}
.main .right li div{
    width: 170px;
    height: 170px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
    background: rgba(0,0,0,0.2);
}
.main .right li:hover div{
    display: block;
}
.main .right li div p{
    height: 40px;
    line-height: 40px;
    font-size: 2rem;
    margin-top: 50px;
    color: white;
    margin-bottom: 0;
}
.main .right li div button{
    height: 40px;
    width: 100px;
    margin: 20px auto;
    background:#c2a638 ;
    color: white;
    border: 0;
}
.main .right .arrleft{
    position: absolute;
    left: 0;
    top:50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    color: white;
    background:#ccc;
    font-size: 2rem;
    text-align: center;
    line-height: 44px;
    display: none;
    cursor: pointer;
}
.main .right:hover .arrleft{
    display: block;
}
.main .right .arrright{
    position: absolute;
    right: 0;
    top:50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    color: white;
    background:#ccc;
    font-size: 2rem;
    text-align: center;
    line-height: 44px;
    display: none;
    cursor: pointer;
}
.main .right:hover .arrright{
    display: block;
}